<h1 id="user-header"> <%=@user.name%></h1>


<table>
<h2 id="table-label">Your Games</h2>
<tr>
<th>Title</th>
<th>Summary</th>
<th>Role</th>
</tr>
<tr>
<% @userGames.each do |game|%>
<tr>
<td><%=game.title%></td>
<td><%=game.summery%></td>
<td>
  <% if !!game.dm_id %>
      <p>DM</p>
      <%else%>
       <p>Player</p>
    <%end%>
</td>
<td class="more-info-btn">
<%=link_to 'More info', game_path(game)%>
</tr>
<%end%>

</table>

  