<h1>All Games in the history of games <h1>
<div><%=link_to"New Game", new_game_path%></div>

<table>
<tr>
<th>Title</th>
<th>Summery</th>
</tr>
<% @games.each do |game|%>
<tr>
<td><%=game.title%></td>
<td><%=game.summery%></td>
<td class="more-info-btn">
<%=link_to 'More info', game_path(game)%>
</tr>
<%end%>
</table>